<%= render 'pages/header' %>
<div class="container text-center">
<h1>Welcome to my homepage</h1>

<div><%= image_tag 'my_picture.jpg' %></div>

<p> 
</br>
  <%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %>
</p>

</div>

<%= render 'pages/footer' %>